@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./assets/fonts/fonnts.com-SF_Pro_Text_Regular.ttf");
}
.ff-sf {
  font-family: "SF Pro Text";
}
.ff-inter {
  font-family: "Inter";
}
.ff-Grandstander {
  font-family: "Grandstander";
}
/* ----------------------font weight------- */

.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
/* -------------------elllips--opacity--poinert--------- */
.pointer {
  cursor: pointer;
}
/* ----opacity--- */
.opacity_05 {
  opacity: 0.5;
}
.opacity_06 {
  opacity: 0.6;
}
.opacity_07 {
  opacity: 0.7;
}
.opacity_08 {
  opacity: 0.8;
}
.opacity_09 {
  opacity: 0.9;
}
.opacity_1 {
  opacity: 1;
}
/* ------------------------------nav bar--------------------- */
.Nav-pt-35 {
  padding-top: 35.92px;
}
.gap-46 {
  gap: 46px;
}
.comonBtn {
  padding: 19px 32px;
  border-radius: 189px;
  border: 1px solid var(--white);
  transition: all 300ms linear;
  background: transparent;
}
.comonBtn:hover {
  border: 1px solid var(--orange);
  color: var(--black);
  background: var(--orange);
}
.gap-21 {
  gap: 21.29px;
}
.nav-logo {
  transition: all 300ms linear;
}
.nav-logo:hover {
  scale: 0.9;
}
/* ---------------------hero section--------------- */
.hero-img {
  max-width: 576px;
  height: 538px;
  position: absolute;
  right: 0;
  bottom: 33px;
}
.mb-62 {
  margin-bottom: 62px;
}
.mb-36 {
  margin-bottom: 36px;
}
.gap-20 {
  gap: 20px;
}
.comonBtn2 {
  padding: 19px 32px;
  border-radius: 189px;
  border: 1px solid var(--orange);
  background: var(--orange);
  transition: all 300ms linear;
}
.comonBtn2:hover {
  border: 1px solid var(--white);
  color: var(--white);
  background: var(--black);
}
.input-container {
  max-width: 389px;
  padding: 13px 20px;
  border-radius: 102px;
  border: 1px solid var(--white);
  gap: 25.51px;
}
.input-container > :first-child::placeholder {
  color: var(--white) !important;
}
.input-container > :first-child {
  outline: none !important;
  border: none;
  max-width: 297px;
  width: 100%;
  height: 30px;
}
.py-136-128 {
  padding: 136px 0 128px;
}
.-mt-33 {
  margin-top: -34px;
}
.py-39 {
  padding: 39px 0;
}
.gap-22 {
  gap: 22px;
}
.dextool-size {
  width: 46px;
  height: 46px;
}
.hero-icon {
  transition: all 300ms linear;
}
.hero-icon:hover {
  scale: 0.9;
}
.iconBox > :first-child a {
  max-width: 235px;
}
.iconBox > :nth-child(2) a {
  max-width: 285px;
}
.iconBox > :nth-child(3) a {
  max-width: 328px;
}
.max-w-538 {
  max-width: 538px;
}
/* ----------------------------------about -------------------- */
.py-218-177 {
  padding: 218px 0 104px;
}
.about-bg {
  background-image: url("./assets/img/png/about-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.mb-20 {
  margin-bottom: 20px;
}
.mb-21 {
  margin-bottom: 21px;
}
.calling-men-size {
  max-width: 688px;
  height: 695px;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: -3;
}
.mb-26 {
  margin-bottom: 26px;
}
.spex-position {
  right: 9px;
  bottom: 0;
  position: absolute;
  z-index: -3;
}
.set-fudingtext {
  position: absolute;
  top: 15%;
  left: 13%;
  transform: rotate(-20deg);
  z-index: -3;
  width: fit-content !important;
}
.set-fudingtext-2 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: rotate(-20deg);
  z-index: -3;
  width: fit-content !important;
}
.set-fudingtext-3 {
  position: absolute;
  bottom: 12%;
  left: 15%;
  z-index: -3;
  width: fit-content !important;
}
/* ----------------------------tokenomix---------------------- */
.py-82-51 {
  padding: 82px 0 51px;
}
.gap-12 {
  gap: 12px;
}
.max-616 {
  max-width: 616px;
}
.mt-14 {
  margin-top: 14.5px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-21 {
  margin-top: 21px;
}
.gray-border {
  max-width: 404px;
  width: 100%;
  border: 1px solid #ffffff80;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  box-shadow: 0px 5px 18px 0px #00000061;
  padding: 27px 25px 40px;
}
.token-yello-box {
  max-width: 296px;
  width: 100%;
  height: 101px;
  padding: 16px;
  background: var(--orange);
}
.token-yello-box-2 {
  max-width: 131px;
  width: 100%;
  height: 101px;
  padding: 16px;
  background: var(--orange);
}
.token-yello-box-3 {
  max-width: 152px;
  width: 100%;
  height: 101px;
  padding: 16px;
  background: var(--orange);
}
.gap-18 {
  gap: 18px;
}
.cloud-layer {
  height: 210px;
}
.rotate-180 {
  transform: rotate(180deg);
}
.-mt-01 {
  margin-top: -1px;
}
.-mb-01 {
  margin-bottom: -1px;
}

/* -------------------------------------Utility -------------------- */
.py-144-15 {
  padding: 144px 0 15px;
}
.set-men {
  max-width: 441px;
  height: 544px;
}

.Candele-bg-img-3 {
  background-image: url("./assets/img/png/candle-stick-bg-3.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
}
.text-book {
  right: 5%;
  top: 0;
  position: absolute;
}
.h-136 {
  height: 136px;
}
.set-fudingtext-5 {
  position: absolute;
  top: 60px;
  left: 11%;
  z-index: -3;
  transform: rotate(-20deg);
}
.set-fudingtext-6 {
  position: absolute;
  z-index: -3;
  top: 60px;
  right: 32%;
  transform: rotate(-20deg);
}
.set-fudingtext-7 {
  position: absolute;
  z-index: -3;
  bottom: 10%;
  left: 40%;
}
.py-42-50 {
  padding: 42px 0 50px;
}
.m-26-4 {
  margin: 26px -4px;
}
.yello-box {
  transform: rotate(-2deg);
  height: 136px;
}
/* -------------------------------------Eco-system -------------------- */
.py-203-150 {
  padding: 203px 0 150px;
}

.Candele-bg-img-2 {
  background-image: url("./assets/img/png/candle-stick-bg-2.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
}
.Newspaper {
  max-width: 565px;
  height: 574px;
  left: 60px;
  top: 23%;
  z-index: -3;
  position: absolute;
}
.mb-13 {
  margin-bottom: 13px;
}
.mb-33 {
  margin-bottom: 33px;
}
.paper {
  position: absolute;
  left: 60px;
  top: 36px;
  z-index: -3;
}
.spex-position-2 {
  right: 5%;
  bottom: 7%;
  position: absolute;
  z-index: -3;
}
.mt-68 {
  margin-top: 68px !important;
}
/* -------------------------------------Road-map -------------------- */
.py-68-143 {
  padding: 68px 0 143px;
}
.max-895 {
  max-width: 895px;
}
.mb-141 {
  margin-bottom: 141px !important;
}
.max-281 {
  max-width: 281px;
}
.max-229 {
  max-width: 229px;
}
.mb-31 {
  margin-bottom: 31px;
}
.slick-slide {
  margin: 0 20px !important;
}

/* -------------------------------------News -------------------- */
.py-125-96 {
  padding: 125px 0 96px;
}
.mb-96 {
  margin-bottom: 96px;
}
.newsBox {
  border: 1px solid var(--black);
  padding: 26px 8px 19px 20px;
  background-color: var(--white);
}
.mb-27 {
  margin-bottom: 27px;
}

.lt-spacing {
  letter-spacing: -0.37px;
}
.max-321 {
  max-width: 321px;
}
.row-gap-27 {
  row-gap: 27px;
}
.gap-14 {
  gap: 14px;
}

.Candele-bg-img {
  background-image: url("./assets/img/png/candle-stick-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
}
.mobile {
  position: absolute;
  top: 70px;
  left: 5%;
  z-index: -3;
}
.laptop {
  position: absolute;
  top: 55px;
  right: 5%;
  z-index: -3;
}
/* -------------------------------------footer-------------------- */
.py-153-131 {
  padding: 153px 0 131px;
}
.mb-41 {
  margin-bottom: 41px;
}
.orange-line::after {
  position: absolute;
  content: " ";
  height: 173px;
  width: 1px;
  left: -66px;
  top: 5px;
  background-color: var(--orange);
}
.mt-13 {
  margin-top: 13px !important;
}
.mt-26 {
  margin-top: 26px !important;
}
.social-link {
  transition: all 300ms linear;
}
.social-link:hover {
  color: var(--orange);
}
